In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [39]:
import pandas as pd
data = pd.read_csv("kc_house_data.csv")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [40]:
data.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [41]:
data['waterfront'].fillna(data['waterfront'].mode()[0], inplace=True)
data['view'].fillna(data['view'].mode()[0], inplace=True)

# Impute missing values for 'yr_renovated' with 0
data['yr_renovated'].fillna(0, inplace=True)

In [42]:
imputation = data.isnull().sum()
imputation

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [12]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NO,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,0.0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [ ]:
data['price'] = pd.to_numeric(data['price'])

print("X Data Types:")
print(X.dtypes)
print("y Data Type:")
print(y.dtypes)

In [16]:
df['price'] = pd.to_numeric(df['price'])



print("X Data Types:")
print(X.dtypes)
print("y Data Type:")
print(y.dtypes)

X Data Types:
id                               int64
date                    datetime64[ns]
bedrooms                         int64
bathrooms                      float64
sqft_living                      int64
sqft_lot                         int64
floors                         float64
waterfront                      object
view                            object
condition                       object
grade                           object
sqft_above                       int64
sqft_basement                   object
yr_built                         int64
yr_renovated                   float64
zipcode                          int64
lat                            float64
long                           float64
sqft_living15                    int64
sqft_lot15                       int64
days_since_reference             int64
dtype: object
y Data Type:
float64

In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error

# Load your dataset (assuming it's in a DataFrame named 'data')
# Convert the "date" column to datetime
data['date'] = pd.to_datetime(data['date'])

# Encode categorical variables (e.g., "waterfront") using one-hot encoding
data = pd.get_dummies(data, columns=['waterfront'], drop_first=True)

# Ensure that all columns are in a compatible numeric format
data = data.apply(pd.to_numeric, errors='coerce')  # Convert non-numeric columns to NaN

# Drop rows with missing values if any
data = data.dropna()

# Select the independent variables (X) and the target variable (y)
X = data.drop(['id', 'price'], axis=1)  # Drop columns not used as features
y = data['price']

# Split the data into training and test sets (e.g., 80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Perform RFE to select the top N features (you can adjust N as needed)
num_features_to_select = 10  # Adjust this number as needed
rfe = RFE(model, num_features_to_select)
X_train_rfe = rfe.fit_transform(X_train, y_train)
X_test_rfe = rfe.transform(X_test)

# Fit the model to the training data with selected features
model.fit(X_train_rfe, y_train)

# Make predictions on the test data with selected features
y_pred = model.predict(X_test_rfe)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r_squared = model.score(X_test_rfe, y_test)

print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"R-squared: {r_squared}")

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error

# Load your dataset (assuming it's in a DataFrame named 'data')
# Convert the "date" column to datetime
data['date'] = pd.to_datetime(data['date'])

# Encode categorical variables (e.g., "waterfront") using one-hot encoding
data = pd.get_dummies(data, columns=['waterfront', 'other_categorical_columns'], drop_first=True)

# Ensure that all columns are in a compatible numeric format
data = data.apply(pd.to_numeric, errors='coerce')  # Convert non-numeric columns to NaN

# Drop rows with missing values if any
data = data.dropna()

# Check if there are enough samples after preprocessing
if len(data) < 2:
    raise ValueError("Not enough samples remaining after preprocessing.")

# Select the independent variables (X) and the target variable (y)
X = data.drop(['id', 'price'], axis=1)  # Drop columns not used as features
y = data['price']

# Split the data into training and test sets (e.g., 80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check if there are enough samples in the training set
if len(X_train) < 2:
    raise ValueError("Not enough samples in the training set after splitting.")

# Create a linear regression model
model = LinearRegression()

# Perform RFE to select the top N features (you can adjust N as needed)
num_features_to_select = 10  # Adjust this number as needed
rfe = RFE(model, num_features_to_select)
X_train_rfe = rfe.fit_transform(X_train, y_train)
X_test_rfe = rfe.transform(X_test)

# Fit the model to the training data with selected features
model.fit(X_train_rfe, y_train)

# Make predictions on the test data with selected features
y_pred = model.predict(X_test_rfe)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r_squared = model.score(X_test_rfe, y_test)

print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"R-squared: {r_squared}")

KeyError: "None of [Index(['waterfront', 'other_categorical_columns'], dtype='object')] are in the [columns]"